.wp-core-ui .lolita-button-remove,
.wp-core-ui .lolita-button-remove:link,
.wp-core-ui .lolita-button-remove:visited{
    background: none repeat scroll 0 0 #bc0b0b;
    border-color: #a40a0a;
    box-shadow: 0 1px 0 rgba(230, 13, 13, 1.0) inset, 0 1px 0 rgba(0, 0, 0, 0);
    color: #FFF;
    text-decoration: none;

    &:hover{
        background: none repeat scroll 0 0 #a40a0a;
        border-color: #8a0808;
        box-shadow: 0 1px 0 rgba(204, 12, 12, 1.0) inset, 0 1px 0 rgba(0, 0, 0, 0);
        color: #FFF;
        text-decoration: none;
    }

    &:active{
        background: none repeat scroll 0 0 #930909;
        border-color: #8a0808;
        box-shadow: none;
        color: #FFF;
        text-decoration: none;
    }
}

.wp-core-ui .hide{
    display: none;
}

.underscore_template{
    display: none;
}

.lolita-field-container{
    td label{
        display: block;
        margin: 5px 0;
    }
    small{
        margin: 15px 0 0 0;
        display: block;
    }
}