.lolita-collection-container {
    display: block;
    max-width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    margin-bottom: 1em;
    min-height: 170px;

    &.show {
        display: block;
    }
}

.lolita-collection {
    padding: 5px;
}

.lolita-collection-list {
    margin: 0;
    padding: 0;

    &:before {
        content: '';
        display: table;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    li {
        float: left;
        display: block;
        margin: 0;
        padding: 10px;
    }
}

.lolita-collection__item {
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff, 0 0 0 5px #d3d3d3;
    width: 150px;
    height: 150px;
    background-color: #f3f3f3;

    &:active {
        cursor: move;
    }

    &.selected, &:hover {
        box-shadow: 0 0 0 1px #FFF, 0 0 0 5px #1E8CBE;
    }

    .check {
        display: none;
    }

    &.selected {
        .check {
            display: block !important;
            position: absolute;
            top: -6px;
            right: -6px;
            z-index: 25;
            width: 24px;
            height: 24px;
            outline: 0 none;
            background: #1E8CBE none repeat scroll 0 0;
            box-shadow: 0 0 0 1px #FFF, 0 0 0 2px #1E8CBE;

            div {
                height: 15px;
                width: 15px;
                margin: 5px;
                background-position: -21px 0;
            }
        }

        &:hover .check {
            div {
                height: 15px;
                width: 15px;
                margin: 5px;
                background-position: -21px 0;
            }

            &:hover div {
                height: 15px;
                width: 15px;
                margin: 5px;
                background-position: -60px 0;
            }
        }
    }

    .centered {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        pointer-events: none;
    }

    img {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        display: block;
        margin: 0 auto;
    }

    .filename {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        max-height: 100%;
        word-wrap: break-word;
        text-align: center;
        font-weight: 700;
        background: rgba(255, 255, 255, 0.8);

        div {
            padding: 0.4em 0.8em;
        }

        &.show {
            display: block;
        }
    }
}

li.lolita-collection-ui-state-highlight {
    background-color: #ddd;
    border: 3px dashed #aaa;
    width: 160px;
    height: 160px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    margin: 0 5px;
}

.wp-core-ui .lolita-button-remove {
    background: none repeat scroll 0 0 #bc0b0b;
    border-color: #a40a0a;
    box-shadow: 0 1px 0 rgba(230, 13, 13, 1) inset, 0 1px 0 rgba(0, 0, 0, 0);
    color: #FFF;
    text-decoration: none;

    &:link, &:visited {
        background: none repeat scroll 0 0 #bc0b0b;
        border-color: #a40a0a;
        box-shadow: 0 1px 0 rgba(230, 13, 13, 1) inset, 0 1px 0 rgba(0, 0, 0, 0);
        color: #FFF;
        text-decoration: none;
    }
}

#lolita-collection-remove {
    &.show {
        display: inline-block;
    }
}

.wp-core-ui .lolita-button-remove {
    &:hover {
        background: none repeat scroll 0 0 #a40a0a;
        border-color: #8a0808;
        box-shadow: 0 1px 0 rgba(204, 12, 12, 1) inset, 0 1px 0 rgba(0, 0, 0, 0);
        color: #FFF;
        text-decoration: none;
    }

    &:active {
        background: none repeat scroll 0 0 #930909;
        border-color: #8a0808;
        box-shadow: none;
        color: #FFF;
        text-decoration: none;
    }
}