.lolita-media-control {
    padding-top: 10px;
    .media-preview {
        .left {
            display: table-cell;
            width: 150px;
            vertical-align: top;
        }
        .right {
            display: table-cell;
            vertical-align: top;
        }
    }
    .media-preview-inner {
        width: 150px;
        height: 150px;
        background-color: #f3f3f3;
        position: relative;
        box-shadow: 0 0 0 1px #fff, 0 0 0 5px #e1e1e1;
        margin: 0 20px 20px 0;
        line-height: 150px;
        text-align: center;
        font-size: 0;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    .media-infos {
        padding-left: 20px;
        h4 {
            margin: 0;
        }
        p.info {
            background-color: #f0f0f0;
            padding: 2px 5px 3px;
            margin-top: 0;
            border: 1px solid #ddd;
            color: #888;
        }
    }
}

.media-preview {
    display: table;
    width: 100%;
    table-layout: fixed;
}

p.info {
    &.info-id {
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    &.info-path {
        overflow: hidden;
        box-sizing: border-box;
    }
}

.lolita-media-control .media-infos .media-buttons {
    margin: 10px 0 0;
}

.form-table td {
    position: relative;
}

.wp-core-ui {
    .lolita-button-remove {
        background: #bc0b0b;
        border-color: #a40a0a;
        box-shadow: 0 1px 0 #e60d0d inset, 0 1px 0 transparent;
        color: #FFF;
        text-decoration: none;
        &:link,
        &:visited {
            background: #bc0b0b;
            border-color: #a40a0a;
            box-shadow: 0 1px 0 #e60d0d inset, 0 1px 0 transparent;
            color: #FFF;
            text-decoration: none;
        }
        &:hover,
        &:link:hover,
        &:visited:hover {
            background: #a40a0a;
            border-color: #8a0808;
            box-shadow: 0 1px 0 #cc0c0c inset, 0 1px 0 transparent;
            color: #FFF;
            text-decoration: none;
        }
        &:active,
        &:link:active,
        &:visited:active {
            background: #930909;
            border-color: #8a0808;
            box-shadow: none;
            color: #FFF;
            text-decoration: none;
        }
    }
    .hide {
        display: none;
    }
}

// adjustments for widgets area
.widget-controls-collection {
    .lolita-media-control {
        padding-top: 10px;
        .media-preview {
            .left {
                display: block;
                width: 100px;
                vertical-align: top;
            }
            .right {
                display: block;
                vertical-align: top;
            }
        }
        .media-preview-inner {
            width: 100px;
            height: 100px;
            img {
                vertical-align: top;
            }
        }
        .media-infos {
            padding-left: 0px;

            h4, p {
                display: none;
            }
        }
    }
}
