.lolita-media-control{
    .media-preview-inner{
        width: 100px;
        height: 100px;
        background-color: #f3f3f3;
        position: relative;
        box-shadow: 0 0 0 1px #fff, 0 0 0 5px #e1e1e1;
        margin: 5px;
        float: left;
        margin: 0 20px 0 0;

        img{
            width: 100px;
        }
    }

    .media-infos{
        display: block;
        float: left;

        h4{
            margin: 0;
        }
        p.info{
            background-color: #f0f0f0;
            padding: 2px 5px 3px 5px;
            margin-top: 0;
            border: 1px solid #dddddd;
            color: #888888;
        }

        .media-buttons{
            margin: 10px 0 0 0;
        }
    }
}